/*-----------------------------*\
    SETTINGS - GRID
\*-----------------------------*/

$grid-columns:      6 !default;
$grid-column-width: 13.1666666666666667% !default;
$grid-gutter:       3% !default;